@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 45px;
    line-height: 65px;
    color: #222;

}
h2 {
    font-size: 35px;
    line-height: 55px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465B52;
    margin: 15px 0 20px 0;
}

.secction-p1 {
    padding: 40px 80px;
}
.secction-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #088178;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    position: relative;
    top: 50px;
    
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #088178;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    position: relative;
}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    outline: none;
    transition: 0.2s;
    position: relative;
    top: 40px;
}
body {
    width: 100%;
}

.modern-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #3f51b5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .modern-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(238, 227, 227, 0.3);
  }
  
  .modern-button:active {
    transform: translateY(0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

/*Header Start*/

.logo {
    width: 200px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e8ebf6;
    box-shadow: 0 0 20px #8c8b8b;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-content: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1A1A1A;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #FC0026;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FC0026;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*borrar menu hamburguesa*/
#celu {
    display: none;
    align-items: center;
}

/*Cierre del cierre*/
#close {
    display: none;
}
/* Home Pagina*/
#hero {
    background-image: url("../img/img-portada/img-2.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 20px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #FC0026;
}
/*
#hero button {
    background-image: url("../img/btn-nav.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 23px 80px 18px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 800;
    font-size: 14px;
}
*/
#seccion__tres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#seccion__tres .fe-bok {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #cce7d0;
    border-radius: 7px;
    margin: 15px 0;
}

#seccion__tres .fe-bok:hover {
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
}

#seccion__tres .fe-bok h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#seccion__tres .fe-bok img {
    width: 100%;
    margin-bottom: 10px;
}

#seccion__tres .fe-bok:nth-child(2) h6{
    background-color: aqua;
}
#seccion__tres .fe-bok:nth-child(3) h6{
    background-color: #64EBB1;
}
#seccion__tres .fe-bok:nth-child(4) h6{
    background-color: #E899DE;
}
#seccion__tres .fe-bok:nth-child(5) h6{
    background-color: #EB9D2F;
}
#seccion__tres .fe-bok:nth-child(6) h6{
    background-color: #EBDC61;
}

/*Productos 1 en Promoción*/
#productos__uno {
    text-align: center;
}
/*Linea separación*/
.lines-effect{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    color: #088178;
    font-size: 25px;
}

#productos__uno .pro__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#productos__uno .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #d7d7d7;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#productos_uno .pro:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

#productos_uno .pro:active {
    transform: translateY(0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
#productos__uno .pro img {
    width: 70%;
    border-radius: 20px;
}

#productos__uno .pro .des {
    text-align: start;
    padding: 10px 0;
}

#productos__uno .pro .des span {
    color: #555c57;
    font-size: 12px;
}

#productos__uno .pro .des h5 {
    padding-top: 7px;
    color: #1A1A1A;
    font-size: 15px;
}


.star {
    display: flex;
    width: 10px;
    color: rgb(243, 181, 25);   
}
/*#productos__uno .pro .des i {
    font-size: 10px;
    color: rgb(243, 181, 25);
}
*/

#productos__uno .pro .des h4 {
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #FF2342;
}

#productos__uno .pro .cart {
    width: 30px;
    height: 40px;
    line-height: 30px;
    border-radius: 50px;
    font-weight: 400;
    color: #523d6a;
    position: absolute;
    bottom: 20PX;
    right: 30PX;
    
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/banner/banner-2.jpg");
    width: 100%;
    height: 45vh;
    background-size: contain;
    background-position: center;
}

#banner h4 {
    padding: 0 0 5px 0;
    color: #088178;
}
#banner h2 {
    color: #fff;
    padding: 0 20px 250px 0;
}
#banner h2 span {
    color: #EF3636;
}

#banner button:hover {
    background: #FC0026;
    color: #fff;
}

/*Banner sección SM*/
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/img-web-shop/img-06.jpg");
    width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url("../img/img-web-shop/img-02.jpg");

}

#sm-banner h4 {
    color: #2f2e2e;
    font-size: 20px;
    font-weight: 600;
}

#sm-banner h2 {
    color: #222;
    font-size: 25px;
    font-weight: 900;
}

#sm-banner span {
    color: #222;
    font-size: 20px;
    font-weight: 500;
}

#sm-banner .banner-box:hover button {
    background: #FC0026;
        color: #fff;
        border: 1px solid #FC0026;

}

/*Tres ultimos banner*/

#banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    
}
#banner-3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/banner/banner-3.jpg");
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    
}

#banner h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner h3 {
    color: #fff;
    font-weight: 800;
    font-size: 15px;
}

#banner-3 .banner-box4 {
    background-image: url("../img/img-web-shop/img-01.jpg");
    

}
#banner-3 .banner-box5 {
    background-image: url("../img/img-web-shop/img-03.png");
}
#banner-3 .banner-box6 {
    background-image: url("../img/img-web-shop/img-05.jpg");
}

/*Banner más registro*/

#suscripcion {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../img/bann-susc/banner-sus.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #333232;
    margin-top: 30px;
}

#suscripcion h4 {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
}
#suscripcion p {
    font-size: 15px;
    font-weight: 600;
    color: #555c57;
}
#suscripcion p span {
    color: #FFAF24;
}

/*Form Registro*/

#suscripcion .form {
    display: flex;
    width: 40%;
    
}
#suscripcion input {
    height: 3.125rem;
    padding: 0 1rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#suscripcion button {
    background-color: #088178;
    color: #fff;
    width: 200px;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/**********Nuevas tarjetas************/

/* .h2-ser {
    text-align: center;
    padding-top: 40px;
    color: #333232;
}
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.10), -5px -5px 30px 7px rgba(87, 87, 87, 0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  } */

  /*Fin nuevas cart*/



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}


footer .icon  {
    color: #5b4646;
    padding-right: 6px;
    cursor: pointer;
}

svg path {
    fill: #2f2b2b;
}
svg {
    fill: #545655;
}

footer .install .row img {
    border: 1px solid #dbdfde;
    border-radius: 6px;
    width: 200px;
}

footer .install img {
    margin: 10px 0 15px 0;
    margin-left: 10px;
    width: 400px;
}

footer .icon i:hover,
footer a:hover {
    color: #FC0026;
}

footer .copy {
    width: 100%;
    text-align: center;
}

/********** Pagina Shop***************/

#pagina-hero {
    background-image: url("../img/img-portada/img-1.png");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-web {
    color: #1A1A1A;
    font-size: 50px;
    font-weight: 600;
}

.hero-p {
    font-size: 20px;
    color: #222;
    font-weight: 500;
}

/*Comenzamos con las Media Query*/

@media(max-width:1366px) {
    
    #banner {
        height: 70vh;
    }
    #banner h2 {
        color: #465B52;
    }

    #banner {
	    background-image: url("../img/banner/banner-2.jpg");
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
    }

    


    /*Banner suscripción*/
   
@media (max-width:799px) {
    .secction-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.2);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }

    #celu {
        display: flex;
        align-items: center;
    }
    #celu i {
        color: #f11212;
        font-size: 24px;
        padding: 20px;
    }
    #close {
        display: inline;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #1A1A1A;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    /*Hero*/
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #seccion__tres {
        justify-content: center;
    }
    #seccion__tres .fe-bok {
        margin: 15px 15px;
    }

    #productos__uno .pro__container {
        
        justify-content: center;
    }

    #productos__uno .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #banner h4 {
        float: right;
        width: 95%;
        text-align: center;
        line-height: 10px;
        text-align: center;
        
    }

    #banner h2 {
        color: #222;
        float: right;
        text-align: center;
    }

    #banner h2 span {
        line-height: 10px;
        text-align: center;
        top: 0px;
        float: right;
        width:95%;
        padding: -10px;
    }
    button.normal {
        top: -20%;
        
    }

    #sm-banner .banner-box {
        width: 100%;
        height: 30vh;
        margin-top: 20px;
    }

    #banner-3 {
        padding: 0 40px;
    }

    #suscripcion .form {
        width: 70%;
    }

    #suscripcion button {
        padding: 10px 40px;
    }

    #suscripcion p {
        font-size: 13px;
        font-weight: 700;
    }
    #suscripcion p span {
        font-size: 20px;
        font-weight: 600;
    }
}

@media (max-width:477px) {
    .secction-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
    }

    #seccion__tres .fe-bok {
        width: 155px;
        margin:0 0 15px 0;
    }

    #seccion__tres {
        justify-content: space-between;
    }

    #productos__uno .pro {
        width: 100%;
        
    }
    #banner {
        height: 40vh;
        background-repeat: no-repeat;
    }
    #banner h4 {
        font-size: 25px;
    }

    #banner h2 {
        font-size: 15px;
        color: #222;
    }

    #banner h2 span {
        line-height: 10px;
        text-align: center;
        font-size: 30px;
    }

    .lines-effect {
        display: none;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }


    #sm-banner .banner-box:hover button {
        background: #FC0026;
        color: #f30e0e;
    }
/*Tres banner*/
    #banner-3 {
        padding: 0 20px;
    }

    #banner-3 .banner-box {
        width: 100%;
    }

    /*Boton suscripción*/
    #suscripcion .form {
        width: 100%;
    }
    
    
    #suscripcion button {
        padding: 10px 40px;
    }

    footer .col {
        position: relative;
     
    }
   

    footer .row {
        position: relative;
        width: 200px;
        text-align: center;
    }

    footer .col .pago {
        position: relative;
        width: 300px;
        
    }

    
}
/*Media quiery nuevas tarjetas*/
@media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  

}

